
@keyframes birthday {
    20%  {background-color: #505050;}
    35%  {background-color: #686868;}
    50%  {background-color: #808080;}
    100% {background-color: #989898;}
    100% {background-color: #E6D5E6;}
    
}
body {
    background-color: rgb(230, 196, 255);
    font-size: 60px;
    text-align: center;
    -webkit-animation-name: birthday; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 25s; /* Chrome, Safari, Opera */
    animation-name: birthday;
    animation-duration: 25s; 
}
ul{
    text-align: left;
    font-size: 20px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}



